<div class="container">
  <div class="row">
    <div class="col-md-6">
      <button
        type="button"
        class="btn btn-primary btn-lg"
        id="btn1"
        routerLink="/add"
      >
        Add
      </button>
    </div>
    <div class="col-md-6">
      <button
        type="button"
        class="btn btn-primary btn-lg"
        id="btn2"
        routerLink="/fetch"
      >
        Fetch
      </button>
    </div>
  </div>
</div>

<div class="container">
  <br />
  <router-outlet></router-outlet>
</div>
